<div class="nav-container">
  <span class="flex-spacer"></span>
  <nav mat-tab-nav-bar mat-align-tabs="center" class='nav-bar-primary'>
    <a mat-tab-link routerLink="developer" routerLinkActive>
      <mat-icon aria-label="Menu" class="material-icons">person</mat-icon>
      <span class="flex-spacer"></span>
      Developer
    </a>
    <a mat-tab-link routerLink="devops" routerLinkActive>
      <mat-icon aria-label="Menu" class="material-icons">build</mat-icon>
      <span class="flex-spacer"></span>
      DevOps
    </a>
    <a mat-tab-link routerLink="gitflow" routerLinkActive>
      <mat-icon aria-label="Menu" class="material-icons">track_changes</mat-icon>
      <span class="flex-spacer"></span>
      Gitflow
    </a>
  </nav>
  <nav mat-tab-nav-bar mat-align-tabs="center" class="nav-bar-secondary">
    <a mat-tab-link routerLink="angular" routerLinkActive>
      <mat-icon aria-label="Menu" class="material-icons">code</mat-icon>
      <span class="flex-spacer"></span>
      Angular
    </a>
    <a mat-tab-link routerLink="java" routerLinkActive>
      <mat-icon aria-label="Menu" class="material-icons">code</mat-icon>
      <span class="flex-spacer"></span>
      Java
    </a>
  </nav>
  <span class="flex-spacer"></span>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
