<div class="nav-container">
  <nav mat-tab-nav-bar mat-align-tabs="center" class='nav-bar-home'>
    <a mat-tab-link routerLink="landing" routerLinkActive class='nav-bar-tab-link-home'>
      <mat-icon aria-label="Menu" class="material-icons">home</mat-icon>
      <span class="flex-spacer"></span>
      Welcome
    </a>
    <a mat-tab-link routerLink="events" routerLinkActive class='nav-bar-tab-link-events'>
      <mat-icon aria-label="Menu" class="material-icons">event</mat-icon>
      <span class="flex-spacer"></span>
      Events
    </a>
    <a mat-tab-link routerLink="community" routerLinkActive class='nav-bar-tab-link-community'>
      <mat-icon aria-label="Menu" class="material-icons">group</mat-icon>
      <span class="flex-spacer"></span>
      Community
    </a>
  </nav>

  <span class="flex-spacer"></span>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
