.flex-spacer {
    // flex-grow: 10;
    padding-left: 0.5em;
}

nav {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.nav-container {
    margin-left: 6px;
    margin-right: -6px;
}

.content-container {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
}