<div class="container">
    <div class="nav-container">
        <nav mat-tab-nav-bar>
            <a mat-tab-link routerLink="landing" routerLinkActive>
                <mat-icon aria-label="Menu" class="material-icons">home</mat-icon>
                <span class="flex-spacer"></span>
                Welcome
            </a>
            <a mat-tab-link routerLink="events" routerLinkActive>
                <mat-icon aria-label="Menu" class="material-icons">event</mat-icon>
                <span class="flex-spacer"></span>
                Events
            </a>
            <a mat-tab-link routerLink="community" routerLinkActive>
                <mat-icon aria-label="Menu" class="material-icons">groupe</mat-icon>
                <span class="flex-spacer"></span>
                Community
            </a>
            <!-- we don't need this to be dynamic yet -->
            <!-- <a mat-tab-link *ngFor="let tab of homeMenu" [routerLink]="tab.id" routerLinkActive #rla="routerLinkActive" [active]="rla.active">
                <mat-icon aria-label="Menu" class="material-icons">{{tab.icon}}</mat-icon>
                <span class="flex-spacer"></span>
                {{tab.title}}
            </a> -->
        </nav>

        <router-outlet></router-outlet>
    </div>
</div>