<div class='row' [@slideInOut]="panelState">
  <div class="col-12 col-xl-10">
    <mat-card class="panel-card" [style.minHeight]="'105%'" [style.minWidth]="'105%'">
      <mat-card-title>
        <div class="panel-news-title">About</div>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content class="panel-news-content">
        <div class="portrait">
          <img src="https://s.gravatar.com/avatar/2ab8133286eff8a9fb7cd77876135d2f?s=80" height="50%" width="50%">
          <div>
            <span><i>by</i><b> Kong To</b></span>
          </div>
        </div>
        <div class="social-media">
          <a href="https://twitter.com/newlight77">
            <img src="{{icons.twitter.color_base64_24px}}" alt="Kong To @ twitter">
          </a>
          <a href="https://github.com/newlight77">
            <img src="{{icons.github.color_base64_24px}}" alt="Kong To @ github">
          </a>
          <a href="https://linkedin.com/kongto">
            <img src="{{icons.linkedin.color_base64_24px}}" alt="Kong To @ linkedin">
          </a>
          <a href="newlight77@gmail.com">
            <img src="{{icons.email.color_base64_24px}}" alt="Email">
          </a>
        </div>
        <div #newsContainer></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-xl-2">
      <mat-icon class="material-icons" (click)="togglePanel()">keyboard_arrow_{{panelState}}</mat-icon>
  </div>
</div>
