<div class='row' [@slideInOut]="panelState">
  <div class="col-12 col-xl-2">
      <mat-icon class="material-icons" (click)="togglePanel()">keyboard_arrow_{{panelState}}</mat-icon>
  </div>
  <div class="col-12 col-xl-10">
    <mat-card class="panel-card panel-card-right" [style.minHeight]="'105%'" [style.minWidth]="'105%'">
      <mat-card-title>
          <div class="panel-events-title">Upcoming events</div>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content class="panel-events-content">
        <div *ngFor="let event of events">
          <!-- title -->
          <div class="event-title">
            <label>{{event.title}}</label>
          </div>
          <!-- date -->
          <div class="event-date">
            <mat-icon class="material-icons">calendar_today</mat-icon>
            <span>{{event.date | date : 'EEE, MM d H:mm'}} - {{getEndTime(event) | date : 'H:mm'}}</span>
          </div>
          <!-- author -->
          <div class="event-author">
            <span>{{event.author}} @ {{event.location}}</span>
          </div>
          <hr>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
