nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.articles-header {
  margin: 10px;
}

.articles-header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.9em;
  grid-column-gap: 2em;
  padding: 0px;
  list-style: none;
}

.articles-title {
  font-weight: 500;
  font-size:130%;
  margin: 20px;
  text-align: center;
}

.flex-spacer {
  padding-left: 0.3em;
}

.article-container {
  display: block;
  box-sizing: border-box;
}

.article-card {
  box-shadow: 0 1px 1px 0 rgb(0, 0, 0, .10), 0 1px 1px 0 rgb(0, 0, 0, .12);
}

.article-card-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.article-card-title {
  background-color: #00915A; //fallback default color
  background-color: var(--theme-color);
  color: #111;
  color: var(--theme-color);
}

.article-card-content {
  margin-top: 10px;
  margin-bottom: 10px;
}
